body{
    font-family: serif;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background: #000000;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 56px;
}

#gameboard{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
}

.cell{
    border: 1px solid #ffffff;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.btn_restart{
    align-items: center;
    justify-content: center;
    background-color: #111111;
    border: solid 1px white;
    color:#ffffff;
    font-size: 34px;
    margin-left: 172.5px;

}
.btn_restart:hover{
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd;
    border: solid 1px rgb(0, 0, 0);
    color:#000000;
    font-size: 34px;

}
.cell:hover{
    background-color: #ffffff71;
    font-size: 45px;
}

p{
    text-align: center;
    font-size: 34px;
}

.cell[data-value="X"]{
    color: rgb(255, 0, 0);
}

.cell[data-value="O"]{
    color: rgb(76, 0, 255);
}